.text h1 {
    font-size: 5rem;
    color: white;
}

.buttons button {
    border-radius: 4px;
    border-width: 20px;
    border-color: rgb(2, 31, 48);
    width: 500px;
    height: 500px;
    padding: 0%;
    margin-top: 270px;
    margin-right: 100px;
}